.ulClass {
    /*list-style-image: linear-gradient(to left bottom, red, blue);*/
    list-style: none;
}

/* Set the list image as background image*/
.ulClass li::before {
    content: '';
    display: inline-block;
    margin-right: 10px;

    /* Height of the list image*/
    height: 20px;

    /* Width of the list image*/
    width: 20px;
    background-image: url("img1.png");
    background-size: contain;
}

.olClass {
    list-style-type: lower-roman;
    list-style-position: outside;
}